body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: hwb(354 54% 13%);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vh;
}

#image-container {
    font-family: 'Sacramento' , cursive;
    font-size: 52px;
}

#options {
    margin-top: 20px;
}

button {
    padding: 10px 20 px;
    margin: 0 10px;
    font-size: 26px;
    font-family: 'Sacramento' , cursive;
    background-color: hwb(348 16% 18%);
    color: black;
    border: none;
    cursor: ponter;
}